// out: "../css/new_about.css", compress: true, sourceMap: false

@size_width :1080px;


body {
    padding-bottom: 160px;
}

.platform_container {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        text-decoration: none;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        border-radius: 16px;
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
}

.quotation_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 24pt;
}

.container {
    text-align: center;

    span {
        color: white;

    }

    .title {
        font-size: 18pt;
        font-weight: bold;
    }

    .content {
        font-size: 12pt;
        font-weight: normal;
    }

    .slogan {
        width: @size_width;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px;
        background: url('/img/profile.jpg') center / cover;
        background-repeat: no-repeat;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: #000;
            opacity: 0.5;
            top: 0;
            z-index: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }


        div {
            text-align: center;
            z-index: 1;
        }

        img {
            width: @size_width;
            height: 500px;
            object-fit: cover;
        }

        span {
            font-size: 22pt;
            text-align: center;
            color: white;
            padding: 6px;
            font-weight: bold;
            vertical-align: middle;
            background-color: #31313C;
        }
    }
}