 // out: ../css/service.css, compress: true, sourceMap: false
 @table_font_size : 14px;

 body,
 html {
    overflow-x: scroll;
 }

.hero_container{
   max-width: 100%;
}

 @media screen and (min-width: 768px) {

    body,
    html {
       overflow-x: hidden;
    }

    .hero_container{
      //  max-width: 540px;
       max-width: 100%;
    }

 }

// body,
// html{
//    overflow-x: hidden;
// }

 body {
    //  padding: 12px;
 }

 .settings {
    padding-top: 32px;
    padding-bottom: 32px;
 }

 table {
    font-size: @table_font_size;
    text-align: center;

    img {
       max-width: 80px;
       max-height: 80px;
    }

    .btn {
       font-size: @table_font_size;
       padding: 0;
    }
 }

 .table td {
    vertical-align: middle;
 }

 #rank_div div {
    display: flex;
    font-size: 6px;

    select {
       width: 70%;
    }

    .btn {
       font-size: 12px;
    }

    input {
       margin-right: 2px;
    }

    #unranked {
       margin-left: 8px;
    }
 }